body{

    background-color: #474747;
}

.bg-custom{
    background-color: #BDE626 !important;

}

.nav-link{

    color: #474747 !important;
}

.fa-gamepad{

    font-size: 25px;
    padding-right: 5px;
    vertical-align: middle;
}

.fa-key{

    font-size: 25px;
    padding-right: 5px;
    vertical-align: middle;
}
